<div id = "setHight">
<div id = "scroll">
<div>
<div *ngIf="data.sendaskprerequests=='yes';else noprerequest">
  They are some prerequests for this Thanks
  <div *ngFor="let item of data.sendprerequestsofcodeBase;let i = index">
      {{i+1}}.{{data.sendprerequestsofcodeBase[i]}}
      {{data.sendprerequestsCodeofcodeBase[i]}}
  </div>

  <div>
    steps
  </div>
  <div *ngFor="let item of data.sendstepsofcodeBase;let i = index">
    {{i+1}}.{{data.sendstepsofcodeBase[i]}}
    {{data.sendcodeForCodeBaseSteps[i]}}
</div>


</div>
<ng-template #noprerequest>
No there are no prerequest
</ng-template>

</div>


<h1 mat-dialog-title>Hi {{data.sendaskprerequests}}</h1>
<div mat-dialog-content>
  <p>What's your favorite animal?</p>
 
</div>
<div mat-dialog-actions>
  <button mat-button (click)="onNoClick()">No Thanks</button>
  <button mat-button [mat-dialog-close]="data.animal" cdkFocusInitial>Ok</button>
</div>

<div>


  brs kf
</div>
<div>


  brs kf
</div>

<div>


  brs kf
</div><div>


  brs kf
</div><div>


  brs kf
</div><div>


  brs kf
</div><div>


  brs kf
</div><div>


  brs kf
</div><div>


  brs kf
</div><div>


  brs kf
</div><div>


  brs kf
</div><div>


  brs kf
</div><div>


  brs kf
</div><div>


  brs kf
</div><div>


  brs kf
</div><div>


  brs kf
</div><div>


  brs kf
</div><div>


  brs kf
</div><div>


  brs kf
</div><div>


  brs kf
</div><div>


  brs kf
</div><div>


  brs kf
</div><div>


  brs kf
</div><div>


  brs kf
</div><div>


  brs kf
</div><div>


  brs kf
</div><div>


  brs kf
</div><div>


  brs kf
</div><div>


  brs kf
</div><div>


  brs kf
</div><div>


  brs kf
</div><div>


  brs kf
</div><div>


  brs kf
</div><div>


  brs kf
</div><div>


  brs kf
</div><div>


  brs kf
</div><div>


  brs kf
</div><div>


  brs kf
</div><div>


  brs kf
</div><div>


  brs kf
</div><div>


  brs kf
</div><div>


  brs kf
</div><div>


  brs kf
</div><div>


  brs kf
</div><div>


  brs kf
</div><div>


  brs kf
</div><div>


  brs kf
</div><div>


  brs kf
</div><div>


  brs kf
</div><div>


  brs kf
</div><div>


  brs kf
</div><div>


  brs kf
</div><div>


  brs kf
</div><div>


  brs kf
</div><div>


  brs kf
</div><div>


  brs kf
</div><div>


  brs kf
</div><div>


  brs kf
</div><div>


  brs kf
</div><div>


  brs kf
</div><div>


  brs kf
</div><div>


  brs kf
</div><div>


  brs kf
</div><div>


  brs kf
</div><div>


  brs kf
</div><div>


  brs kf
</div><div>


  brs kf
</div><div>


  brs kf
</div><div>


  brs kf
</div><div>


  brs kf
</div><div>


  brs kf
</div><div>


  brs kf
</div><div>


  brs kf
</div><div>


  brs kf
</div><div>


  brs kf
</div><div>


  brs kf
</div><div>


  brs kf
</div><div>


  brs kf
</div><div>


  brs kf
</div><div>


  brs kf
</div><div>


  brs kf
</div><div>


  brs kf
</div><div>


  brs kf
</div><div>


  brs kf
</div><div>


  brs kf
</div><div>


  brs kf
</div><div>


  brs kf
</div><div>


  brs kf
</div><div>


  brs kf
</div><div>


  brs kf
</div><div>


  brs kf
</div><div>


  brs kf
</div><div>


  brs kf
</div><div>


  brs kf
</div><div>


  brs kf
</div><div>


  brs kf
</div><div>


  brs kf
</div><div>


  brs kf
</div><div>


  brs kf
</div><div>


  brs kf
</div><div>


  brs kf
</div><div>


  brs kf
</div><div>


  brs kf
</div><div>


  brs kf
</div><div>


  brs kf
</div><div>


  brs kf
</div><div>


  brs kf
</div><div>


  brs kf
</div><div>


  brs kf
</div><div>


  brs kf
</div><div>


  brs kf
</div><div>


  brs kf
</div><div>


  brs kf
</div><div>


  brs kf
</div><div>


  brs kf
</div><div>


  brs kf
</div><div>


  brs kf
</div><div>


  brs kf
</div><div>


  brs kf
</div><div>


  brs kf
</div><div>


  brs kf
</div><div>


  brs kf
</div><div>


  brs kf
</div><div>


  brs kf
</div><div>


  brs kf
</div><div>


  brs kf
</div><div>


  brs kf
</div><div>


  brs kf
</div><div>


  brs kf
</div><div>


  brs kf
</div><div>


  brs kf
</div><div>


  brs kf
</div>
</div>
</div> 