<div id = "setHight">
<div id = "scroll">
<div>
<div  *ngIf="data.sendaskprerequests=='yes';else noprerequest">
  <div id = "heading">
  Prerequests
</div>
  <div id = "prerequestStyle"> 
    <div id = "marginlatout">
  <div  *ngFor="let item of data.sendprerequestsofcodeBase;let i = index">
     <div>   {{i+1}}.{{data.sendprerequestsofcodeBase[i]}}</div>
      <div  [innerHTML] = "data.sendprerequestsCodeofcodeBase[i]"></div>
      
  </div>
</div>
</div>

    


</div>


</div>
<ng-template #noprerequest>
    No there are no prerequest
    </ng-template>
    <div id="heading">
        steps
      </div>
      <div id = "prerequestStyleforcode"> 
          <div id = "marginlatout">
      <div *ngFor="let item of data.sendstepsofcodeBase;let i = index">
       <div> {{i+1}}.{{data.sendstepsofcodeBase[i]}}</div>
        <span  [innerHTML] = "data.sendcodeForCodeBaseSteps[i]"></span>
    </div>
    </div>

</div>

<br>
<br>


<div id = "centerit">
    <button id = "styleButton" (click)="onNoClick()">No Thanks</button>
</div>